@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width">
    <title>Menu</title>
    <meta name="keywords" content="drinks, cocktail, bar" />
    <link rel="stylesheet" href="~/css/Styles.css" />

    <style>
        body {
            word-spacing: 0.1em;
            background-color: #ffc;
            margin: 40px;
            padding: 0;
        }
    </style>
</head>
<body>
    <ol>
        <h3>Drinks Menu</h3>
        <li>
            Pimms Cup $6<br />
            <em>
                Pimm’s No. 1, Fresh Squeezed Lemon, Mint, English Cucumber,
                Ginger Ale, Square One Organic Cucumber Infused Vodka.
            </em>
        </li>
        <li>
            Old Fashioned $9<br />
            <em>Bulleit Bourbon, Raw Sugar, Luxardo Maraschino Cherries Soda, Orange.</em>
        </li>
        <li>
            O‘Henry $10<br />
            <em>Buffalo Trace Bourbon, Benedictine Liqeur, Fever Tree Ginger Beer.</em>
        </li>
        <li>
            Hemingway $9<br />
            <em>Aged White Rum, Fresh Lime 6” Grapefruit Juice, Maraschino Liqeur Lucardo Maraschino Cherries.</em>
        </li>
        <li>
            Bijou $10<br />
            <em>Boodles Gin, Chartreuse, Carpano Antica Sweet Vermouth Orange Bitters.</em>
        </li>
        <li>
            Silver Laminable $8<br />
            <em>Blanco Tequila, Fresh Squeezes Lemon, Agave Nectar, Sugar Rim.</em>
        </li>
    </ol>
    <p><h3>Ready to order! please click on <a class="" asp-action="OrderNow">Order Now</a></h3></p>
    <p><h4>Go to <a class="" asp-action="Index">Home Page</a></h4></p>
</body>
</html>
